div{
    background-color: hsl(38, 66%, 94%);
    margin: 50px;
    padding: 40px;
    border: 3px solid #1f3c00;
    text-align: center;
}
h1{
    
    font-family: "apple chancery", cursive;
    text-align: center;
    line-height: 60px;
    color: rgb(2, 70, 19);
    text-decoration: underline;
}

#menu {


    font-family: "courier", monospace;
    text-align: center;
    line-height: 60px;
    color: rgb(2, 70, 19);
    
}